body, html {
  height: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  position: relative; }

.content .wally-links {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-top: 30px; }
  .content .wally-links h2 {
    font-size: 18px;
    color: #FF9800;
    margin: 15px 0 5px; }
  .content .wally-links a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    line-height: 16px;
    color: #222;
    font-size: 16px;
    margin-bottom: content 4px;
    display: block;
    line-height: normal;
    padding: 3px 2px;
    max-width: 240px; }
    .content .wally-links a:hover {
      opacity: 0.7;
      cursor: pointer; }

.right-container {
  position: absolute;
  left: 200px;
  right: 0;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: -2px -20px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px -20px 20px 0 rgba(0, 0, 0, 0.2); }

.front-page-wally {
  vertical-align: top;
  margin-right: 40px;
  margin-top: 20px;
  display: inline-block; }
  .front-page-wally img {
    width: 160px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

.wally {
  display: inline-block;
  margin-top: 20px; }
  .wally img {
    height: 120px; }

.content {
  background-color: #fff;
  padding: 20px 40px;
  min-width: 300px;
  min-height: 683px;
  z-index: 12; }
  .content .breadcrumbs {
    border-radius: 5px;
    background-color: #eee;
    margin: 10px 0 15px;
    clear: both;
    display: inline-block;
    padding: 5px 10px; }
    .content .breadcrumbs a, .content .breadcrumbs a:visited {
      text-decoration: none;
      color: #1f61d9; }
    .content .breadcrumbs p {
      margin-bottom: 0;
      font-size: 12px; }
  .content h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px; }
  .content strong {
    font-weight: 600;
    margin-bottom: 200px; }
  .content a {
    color: #1f61d9;
    text-decoration: none; }
    .content a:hover {
      opacity: 0.5; }
  .content p {
    font-family: lato, sans-serif;
    margin-bottom: 20px;
    line-height: normal; }

.nav-position {
  position: relative; }
  .nav-position .spacer-width {
    display: inline-block;
    margin-right: 5px;
    width: 110px;
    margin-bottom: 20px; }

.nav-container {
  position: absolute;
  z-index: 3;
  font-size: 12px; }
  .nav-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px 40px;
    top: -30px;
    left: -40px;
    right: -40px;
    color: #ddd;
    font-weight: 100; }
    .nav-container:hover .navbar li.nav-item {
      margin-bottom: 20px; }
      .nav-container:hover .navbar li.nav-item ul {
        display: block; }
      .nav-container:hover .navbar li.nav-item:last-child {
        margin-right: 0; }

.navbar li.nav-item {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  margin-right: 5px;
  font-weight: 300;
  position: relative;
  width: 110px; }
  .navbar li.nav-item:hover .nav-header {
    background-color: #ccc;
    color: #222; }
  .navbar li.nav-item:hover ul {
    opacity: 1; }
  .navbar li.nav-item .nav-header {
    padding: 6px 8px 3px 8px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 3px; }
  .navbar li.nav-item:hover {
    cursor: pointer; }
  .navbar li.nav-item ul {
    display: none;
    left: 0px;
    z-index: 2;
    opacity: 0.6; }
    .navbar li.nav-item ul li a {
      text-decoration: none;
      color: inherit;
      width: auto;
      display: block;
      border-bottom: 1px solid #666;
      padding: 5px 8px 5px 8px;
      margin-right: none; }
      .navbar li.nav-item ul li a:hover {
        opacity: 1;
        color: #000;
        cursor: pointer;
        background-color: #F7EB0B; }

/*
.subnavbar {
  display: none;
  background-color: rgba(240,240,240,0.95);
  position: absolute;
  width: 100%;
  z-index: 2009;
  top: 23px;
  border-top: 7px solid #fff;
  padding: 5px 0 20px;

  li {
    display: inline-block;
    margin-right: 21px;
    font-size: 12px;
    font-weight: 100;
    position: relative;
    width: 85px;
    vertical-align: top;

    ul {
      width: 101px;
      &:hover {
      }

      li {
        padding: 7px 8px 7px 8px;
        border-bottom: 1px solid #aaa;

        &:hover {
          background-color: #fff;
          cursor: pointer;
        }
        &:last-child {
          border: none;
        }
      }
    }
  }
}
*/
.class-name {
  margin-top: 30px; }
  .class-name a:hover {
    opacity: 0.8; }
  .class-name img {
    width: 100%;
    max-width: 420px; }

.class-name-small {
  margin-top: 30px;
  vertical-align: top;
  display: inline-block; }
  .class-name-small a:hover {
    opacity: 0.8; }
  .class-name-small img {
    display: block;
    width: 300px; }

.gallery-box {
  margin-top: 24px;
  height: 190px;
  overflow: hidden;
  position: relative; }
  .gallery-box .scroll-btn {
    position: absolute;
    width: 90px;
    height: 100%;
    top: 0;
    background-color: #000;
    background-size: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0; }
    .gallery-box .scroll-btn:hover {
      opacity: 0.9;
      cursor: pointer; }
  .gallery-box .scroll-left {
    left: 0;
    background-image: url("../images/left-arrow.png"); }
  .gallery-box .scroll-right {
    right: 0;
    background-image: url("../images/right-arrow.png"); }
  .gallery-box .caption {
    color: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    left: 100px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    padding: 6px 10px 6px 36px;
    font-weight: 300;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8) url("../images/cameraroll-btn.png") no-repeat 10px center;
    background-size: 15px; }
    .gallery-box .caption .playpause-btn {
      background-size: 24px;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      margin-left: 10px;
      display: inline-block;
      background-image: url("../images/playpause-btn.png"); }
      .gallery-box .caption .playpause-btn:hover {
        cursor: pointer;
        opacity: 0.6; }
    .gallery-box .caption:hover {
      opacity: 0.8;
      cursor: pointer; }

.photo-gallery {
  white-space: nowrap;
  position: relative;
  left: 0; }
  .photo-gallery .img-container {
    border: #fff 5px solid;
    display: inline-block;
    position: relative; }
    .photo-gallery .img-container:hover {
      border: #FF9800 5px solid;
      cursor: pointer; }
      .photo-gallery .img-container:hover .img-download {
        opacity: 1; }
    .photo-gallery .img-container img {
      vertical-align: top; }
    .photo-gallery .img-container .img-download {
      opacity: 0;
      width: 35px;
      height: 25px;
      border-radius: 4px;
      position: absolute;
      top: 10px;
      right: 10px;
      background: rgba(0, 0, 0, 0.8) url("../images/download-btn.png") no-repeat center center;
      background-size: 12px; }
      .photo-gallery .img-container .img-download:hover {
        background-color: rgba(100, 100, 100, 0.8); }

.gallery-collections {
  height: 220px;
  overflow: scroll;
  display: none; }
  .gallery-collections .gallery-scroll {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-color: #000;
    padding: 15px 15px 0 15px;
    color: #eee; }
  .gallery-collections .collection-photo {
    width: 70px;
    height: 35px;
    float: left;
    margin-right: 10px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .gallery-collections .collection-size {
    margin-top: 4px;
    font-size: 14px;
    opacity: 0.4; }
  .gallery-collections ul {
    padding-bottom: 15px; }
  .gallery-collections li {
    display: block;
    height: 40px;
    padding-top: 5px;
    padding-left: 5px; }
    .gallery-collections li:hover {
      background-color: #333;
      cursor: pointer; }

.cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  text-align: center; }
  .cover img {
    margin-top: 20px;
    display: inline-block; }
  .cover .img-box {
    height: 100%; }
  .cover .close-btn {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8) url("../images/close-btn.png") no-repeat center center;
    background-size: 30px; }
    .cover .close-btn:hover {
      cursor: pointer;
      opacity: 0.6; }
  .cover .download-btn {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    position: absolute;
    top: 80px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8) url("../images/download-large-btn.png") no-repeat center center;
    background-size: 30px; }
    .cover .download-btn:hover {
      cursor: pointer;
      opacity: 0.6; }

.footer {
  margin-top: 100px;
  background-color: #333;
  z-index: 100;
  position: relative;
  padding: 20px 40px;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-family: lato, sans-serif; }
  .footer .links {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    color: #666; }
    .footer .links li {
      border-bottom: 1px solid #444; }
      .footer .links li:last-child {
        border-bottom: none; }
    .footer .links a {
      color: #fff;
      text-decoration: none;
      padding: 6px 5px;
      display: block; }
      .footer .links a:hover {
        background-color: #444; }
  .footer .searchbox {
    margin-left: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 15px; }
    .footer .searchbox input {
      border: none;
      padding: 8px 10px;
      outline: none;
      font-weight: 500; }
    .footer .searchbox input[type="submit"]:hover {
      opacity: 0.9;
      cursor: pointer; }
  .footer .sponsors {
    display: inline-block;
    background-color: #aaa;
    padding: 5px 5px;
    border-radius: 10px;
    opacity: 0.3;
    margin-left: 20px;
    position: absolute;
    right: 40px;
    bottom: 60px; }
    .footer .sponsors img {
      width: 120px; }
    .footer .sponsors:hover {
      opacity: 0.9;
      cursor: pointer; }
  .footer .instagram {
    width: 25px;
    height: 25px;
    background-image: url("../images/instagram.png");
    background-size: 25px;
    margin-top: 10px;
    display: block; }
    .footer .instagram:hover {
      opacity: 0.8;
      cursor: pointer; }
  .footer h3 {
    color: #999;
    font-size: 13px;
    border-top: 1px solid #444;
    padding-top: 8px;
    margin-top: 20px;
    line-height: normal; }
    .footer h3 a {
      color: #666;
      text-decoration: none; }
      .footer h3 a:hover {
        color: #aaa; }

.overscroll-fix {
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 200px;
  background-color: #333; }

/*# sourceMappingURL=main.css.map */
